.vscode
ExamDetails/build
Game/build
partB/build
partB/.vscode
SortedList/build

SortedList/build/compile_commands.json
SortedList/build/list.exe
SortedList/build/Makefile
SortedList/build/.cmake/api/v1/reply/codemodel-v2-d07af412a092965ee997.json
SortedList/build/.cmake/api/v1/reply/target-list-Debug-5ab594f0572e5ace4f46.json
SortedList/build/CMakeFiles/Makefile2
SortedList/build/CMakeFiles/progress.marks
SortedList/build/CMakeFiles/list.dir/build.make
SortedList/build/CMakeFiles/list.dir/cmake_clean.cmake
SortedList/build/CMakeFiles/list.dir/DependInfo.cmake
SortedList/build/CMakeFiles/list.dir/objects.a
SortedList/build/CMakeFiles/list.dir/objects1.rsp
SortedList/build/CMakeFiles/list.dir/part_a_test.cpp.obj
SortedList/build/CMakeFiles/list.dir/progress.make
SortedList/build/CMakeFiles/list.dir/C_/Users/avial/OneDrive/Documents/GitHub/HW2/ExamDetails/ExamDetails.cpp.obj
SortedList/build/CMakeFiles/list.dir/C_/Users/avial/OneDrive/Documents/GitHub/HW2/ExamDetails/ExamDetails.cpp.obj.d
